{{!-- {{#each data}}
<li>{{this.sr}}</li>
{{/each}} --}}
{{!-- {{setVar "greeting" "Hello World!"}}

{{setVar "branding" "Value 2"}} --}}
{{!-- <div class="row">
    {{#each data}}
    <div class="col-md-4 card-team">
        <div class="card border-dark" style="max-width: 18rem;">
            <div class="card-header">{{this.name}}</div>
            <img class="card-img-top" src="{{this.logo}}" alt="Card image cap">
            <div class="card-body text-dark">
                <h5 class="card-title">{{this.league}}</h5>
                <p class="card-text">{{this.country}}</p>
                <p class="card-text">{{this.founded}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div> --}}

<ul class="list-group">
    {{#each data}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <img class="image-logo-teams" src="{{this.logo}}" alt="Card image cap">
        <strong>{{this.name}}</strong>
        <strong>{{this.country}}</strong>
        <a class="btn btn-outline-dark" href="./teamsfullview/{{this.id}}&{{this.name}}"><strong> > </strong></a>
    </li>
    {{/each}}
</ul>
