
    {{!-- {{#each data}}
    <li>{{this.sr}}</li>
  {{/each}} --}}
  {{!-- {{setVar "greeting" "Hello World!"}}

    {{setVar "branding" "Value 2"}} --}}
  {{#each data}}
  
    <div class="card border-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">{{this.name}}</div>
        <img class="card-img-top" src="{{this.logo}}" alt="Card image cap">
        <div class="card-body text-dark">
            <h5 class="card-title">{{this.league}}</h5>
            <p class="card-text">{{this.country}}</p>
            <p class="card-text">{{this.founded}}</p>
            {{!-- <p class="card-text">{{greeting}}</p> --}}
        </div>
    </div>
{{/each}}